src/main/resources/META-INF/lurker.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns="http://code.ubuilding.cn/schema/lurker"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:beans="http://www.springframework.org/schema/beans"
            xmlns:tool="http://www.springframework.org/schema/tool"
            targetNamespace="http://code.ubuilding.cn/schema/lurker">

    <xsd:import namespace="http://www.w3.org/XML/1998/namespace"/>
    <xsd:import namespace="http://www.springframework.org/schema/beans"/>
    <xsd:import namespace="http://www.springframework.org/schema/tool"/>

    <xsd:annotation>
        <xsd:documentation><![CDATA[ Namespace support for rpc framework:lurker ]]></xsd:documentation>
    </xsd:annotation>

    <xsd:complexType name="serviceType">
        <xsd:attribute name="id" type="xsd:ID">
            <xsd:annotation>
                <xsd:documentation><![CDATA[ The unique identifier for a bean. ]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="interface" type="xsd:token" use="required">
            <xsd:annotation>
                <xsd:documentation><![CDATA[ rpc service interface class ]]></xsd:documentation>
                <xsd:appinfo>
                    <tool:annotation>
                        <tool:expected-type type="java.lang.Class"/>
                    </tool:annotation>
                </xsd:appinfo>
            </xsd:annotation>
        </xsd:attribute>

        <xsd:attribute name="implement" type="xsd:string" use="required">
            <xsd:annotation>
                <xsd:documentation><![CDATA[ reference to implementation of rpc service ]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>

        <xsd:attribute name="delay" type="xsd:long" use="optional">
            <xsd:annotation>
                <xsd:documentation><![CDATA[ rpc service name ]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>

        <xsd:attribute name="register" type="xsd:boolean" use="optional">
            <xsd:annotation>
                <xsd:documentation><![CDATA[ register service to registry center or not ]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>

        <xsd:attribute name="port" type="xsd:int" use="optional">
            <xsd:annotation>
                <xsd:documentation><![CDATA[ export service to port ]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>

    </xsd:complexType>

    <xsd:complexType name="referenceType">

        <xsd:attribute name="id" type="xsd:ID">
            <xsd:annotation>
                <xsd:documentation><![CDATA[ The unique identifier for a bean. ]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>

        <xsd:attribute name="interface" type="xsd:token" use="required">
            <xsd:annotation>
                <xsd:documentation><![CDATA[ rpc service reference to interface class ]]></xsd:documentation>
                <xsd:appinfo>
                    <tool:annotation>
                        <tool:expected-type type="java.lang.Class"/>
                    </tool:annotation>
                </xsd:appinfo>
            </xsd:annotation>
        </xsd:attribute>

        <xsd:attribute name="implement" type="xsd:string" use="required">
            <xsd:annotation>
                <xsd:documentation><![CDATA[ reference to implementation of rpc service ]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>

        <xsd:attribute name="url" type="xsd:string" use="optional">
            <xsd:annotation>
                <xsd:documentation><![CDATA[ address for point to point ]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>

    <xsd:complexType name="registryType">
        <xsd:attribute name="id" type="xsd:ID">
            <xsd:annotation>
                <xsd:documentation><![CDATA[ The unique identifier for a bean. ]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="protocol" type="xsd:string" use="optional">
            <xsd:annotation>
                <xsd:documentation><![CDATA[ registry type,default:zookeeper ]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="address" type="xsd:string" use="required">
            <xsd:annotation>
                <xsd:documentation><![CDATA[ registry address ]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="port" type="xsd:string" use="required">
            <xsd:annotation>
                <xsd:documentation><![CDATA[ registry port ]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="username" type="xsd:string" use="optional">
            <xsd:annotation>
                <xsd:documentation><![CDATA[ username to login registry ]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="password" type="xsd:string" use="optional">
            <xsd:annotation>
                <xsd:documentation><![CDATA[ password to login registry ]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="default" type="xsd:boolean" use="optional">
            <xsd:annotation>
                <xsd:documentation><![CDATA[ Is default. ]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>

    <xsd:complexType name="applicationType">

        <xsd:attribute name="id" type="xsd:ID">
            <xsd:annotation>
                <xsd:documentation><![CDATA[ The unique identifier for a bean. ]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="owner" type="xsd:string" use="optional">
            <xsd:annotation>
                <xsd:documentation><![CDATA[ rpc service interface class ]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>

        <xsd:attribute name="version" type="xsd:string" use="optional">
            <xsd:annotation>
                <xsd:documentation><![CDATA[ reference to implementation of rpc service ]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>

        <xsd:attribute name="name" type="xsd:string" use="optional">
            <xsd:annotation>
                <xsd:documentation><![CDATA[ rpc service name ]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>

        <xsd:attribute name="organization" type="xsd:string" use="optional">
            <xsd:annotation>
                <xsd:documentation><![CDATA[ organization service belongs to ]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>

        <xsd:attribute name="default" type="xsd:boolean" use="optional">
            <xsd:annotation>
                <xsd:documentation><![CDATA[ Is default. ]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>

</xsd:schema>